<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.education.mapper.TZbCoursetypeMapper" >
  <resultMap id="BaseResultMap" type="com.education.pojo.TZbCoursetype" >
    <id column="zb_id" property="zbId" jdbcType="INTEGER" />
    <result column="zb_name" property="zbName" jdbcType="VARCHAR" />
    <result column="zb_code" property="zbCode" jdbcType="VARCHAR" />
    <result column="zb_parent_code" property="zbParentCode" jdbcType="VARCHAR" />
    <result column="zb_sort" property="zbSort" jdbcType="INTEGER" />
    <result column="zb_create_time" property="zbCreateTime" jdbcType="TIMESTAMP" />
    <result column="zb_update_time" property="zbUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    zb_id, zb_name, zb_code, zb_parent_code, zb_sort, zb_create_time, zb_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.education.pojo.TZbCoursetypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_zb_coursetype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_zb_coursetype
    where zb_id = #{zbId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_zb_coursetype
    where zb_id = #{zbId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.education.pojo.TZbCoursetypeExample" >
    delete from t_zb_coursetype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.education.pojo.TZbCoursetype" >
    insert into t_zb_coursetype (zb_id, zb_name, zb_code, 
      zb_parent_code, zb_sort, zb_create_time, 
      zb_update_time)
    values (#{zbId,jdbcType=INTEGER}, #{zbName,jdbcType=VARCHAR}, #{zbCode,jdbcType=VARCHAR}, 
      #{zbParentCode,jdbcType=VARCHAR}, #{zbSort,jdbcType=INTEGER}, #{zbCreateTime,jdbcType=TIMESTAMP}, 
      #{zbUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.education.pojo.TZbCoursetype" >
    insert into t_zb_coursetype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zbId != null" >
        zb_id,
      </if>
      <if test="zbName != null" >
        zb_name,
      </if>
      <if test="zbCode != null" >
        zb_code,
      </if>
      <if test="zbParentCode != null" >
        zb_parent_code,
      </if>
      <if test="zbSort != null" >
        zb_sort,
      </if>
      <if test="zbCreateTime != null" >
        zb_create_time,
      </if>
      <if test="zbUpdateTime != null" >
        zb_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zbId != null" >
        #{zbId,jdbcType=INTEGER},
      </if>
      <if test="zbName != null" >
        #{zbName,jdbcType=VARCHAR},
      </if>
      <if test="zbCode != null" >
        #{zbCode,jdbcType=VARCHAR},
      </if>
      <if test="zbParentCode != null" >
        #{zbParentCode,jdbcType=VARCHAR},
      </if>
      <if test="zbSort != null" >
        #{zbSort,jdbcType=INTEGER},
      </if>
      <if test="zbCreateTime != null" >
        #{zbCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zbUpdateTime != null" >
        #{zbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.education.pojo.TZbCoursetypeExample" resultType="java.lang.Integer" >
    select count(*) from t_zb_coursetype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_zb_coursetype
    <set >
      <if test="record.zbId != null" >
        zb_id = #{record.zbId,jdbcType=INTEGER},
      </if>
      <if test="record.zbName != null" >
        zb_name = #{record.zbName,jdbcType=VARCHAR},
      </if>
      <if test="record.zbCode != null" >
        zb_code = #{record.zbCode,jdbcType=VARCHAR},
      </if>
      <if test="record.zbParentCode != null" >
        zb_parent_code = #{record.zbParentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.zbSort != null" >
        zb_sort = #{record.zbSort,jdbcType=INTEGER},
      </if>
      <if test="record.zbCreateTime != null" >
        zb_create_time = #{record.zbCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zbUpdateTime != null" >
        zb_update_time = #{record.zbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_zb_coursetype
    set zb_id = #{record.zbId,jdbcType=INTEGER},
      zb_name = #{record.zbName,jdbcType=VARCHAR},
      zb_code = #{record.zbCode,jdbcType=VARCHAR},
      zb_parent_code = #{record.zbParentCode,jdbcType=VARCHAR},
      zb_sort = #{record.zbSort,jdbcType=INTEGER},
      zb_create_time = #{record.zbCreateTime,jdbcType=TIMESTAMP},
      zb_update_time = #{record.zbUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.pojo.TZbCoursetype" >
    update t_zb_coursetype
    <set >
      <if test="zbName != null" >
        zb_name = #{zbName,jdbcType=VARCHAR},
      </if>
      <if test="zbCode != null" >
        zb_code = #{zbCode,jdbcType=VARCHAR},
      </if>
      <if test="zbParentCode != null" >
        zb_parent_code = #{zbParentCode,jdbcType=VARCHAR},
      </if>
      <if test="zbSort != null" >
        zb_sort = #{zbSort,jdbcType=INTEGER},
      </if>
      <if test="zbCreateTime != null" >
        zb_create_time = #{zbCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zbUpdateTime != null" >
        zb_update_time = #{zbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where zb_id = #{zbId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.pojo.TZbCoursetype" >
    update t_zb_coursetype
    set zb_name = #{zbName,jdbcType=VARCHAR},
      zb_code = #{zbCode,jdbcType=VARCHAR},
      zb_parent_code = #{zbParentCode,jdbcType=VARCHAR},
      zb_sort = #{zbSort,jdbcType=INTEGER},
      zb_create_time = #{zbCreateTime,jdbcType=TIMESTAMP},
      zb_update_time = #{zbUpdateTime,jdbcType=TIMESTAMP}
    where zb_id = #{zbId,jdbcType=INTEGER}
  </update>
</mapper>